:root {
    --background: #A11692;
    --buttons-background: #F2C14E;
    --game-background: #feff9d;
    --website-green: #ACD9B2;
    --border-orange: #ff6600;
    --gray-background: #F3F3F455;
    --normal: 16px;
    --grande: 20px;
    --gigante: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background);
    font-family: 'Quicksand', sans-serif;

}

.game-container {
    display: grid;
    place-items: center;
    padding: 1.6rem;

    grid-template-rows: auto 1fr auto;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#messages-mobile {
    display: flex;
    justify-content: space-between;

    width: 90%;
    height: 5rem;
    
    margin-bottom: 1rem;

    border-radius: 1rem;
}

canvas {
    margin: 1rem;
    border: .5rem solid var(--border-orange);
    border-radius: 2rem;
    background-color: var(--game-background);
}

.buttons {
    justify-self: center;
    display: grid;

    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    place-items: center;
}

.buttons button {
    width: 8rem;
    height: 8rem;

    border: none;
    border-radius: 25%;

    background-color: var(--buttons-background);
}

.buttons img {
    width: 3.5rem;
    height: 3.5rem;
}

.buttons button:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
}

.buttons button:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.buttons button:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
}

.buttons button:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}

.messages {
    width: 100%;
    padding-top: .5rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    background-color: var(--gray-background);
    font-size: var(--normal);
    font-weight: bold;
    color: var(--website-green);
}

.messages p {
    width: 30%;
    align-self: center;
}

#messages-desktop {
    display: none;
}

@media (min-width: 640px) {

    #messages-mobile {
        display: none;
    }

    .half-screen {
        display: flex;
        align-items: center;
    }

    #messages-desktop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 30rem;
        height: 30rem;

        border-radius: 1rem;
    }

    .buttons {
        display: grid;
        width: 30rem;
        height: 30rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }

    .buttons button {
        width: 10rem;
        height: 10rem;

        border-radius: 25%;
    }

    .buttons button:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .buttons button:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    .buttons button:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .buttons button:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
    }
}

@media (min-width: 1000px) {
    #messages-mobile {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #messages-desktop {
        display: none;
    }
    .game-container {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto;
    }
}