:root {
    --background: #A11692;
    --buttons-background: #F2C14E;
    --game-background: #feff9d;
    --website-green: #ACD9B2;
    --border-orange: #ff6600;
    --gray-background: #F3F3F455;
    --normal: 20px;
    --big: 24px;
    --giant: 48px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background);
    font-family: 'Quicksand', sans-serif;

}

.game-container {
    display: grid;
    place-items: center;
    padding: 1.2rem;

    grid-template-rows: repeat(3, auto);
    justify-content: center;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.messages {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 5.5rem;

    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 1rem;

    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: var(--gray-background);
    font-size: var(--normal);
    font-weight: bold;
    color: var(--website-green);
}

.messages div {
    width: 30%;
    text-align: center;
}

canvas {
    margin: 1rem;
    border: .5rem solid var(--border-orange);
    border-radius: 2rem;
    background-color: var(--game-background);
}

.buttons {
    display: grid;
    justify-self: center;
 
    margin-top: 1rem;
    margin-bottom: 1rem;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    place-items: center;
}

.buttons button {
    width: 7rem;
    height: 7rem;

    border: none;
    border-radius: 25%;

    background-color: var(--buttons-background);
}

.buttons img {
    width: 3.5rem;
    height: 3.5rem;
    
}

.buttons button:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
}

.buttons button:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.buttons button:nth-child(3) {
    grid-column: 3;
    grid-row: 2;
}

.buttons button:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}

.game-console {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 2;
    background-color: var(--gray-background);
}

.middle-line {
    width: 100%;
    height: 30%;
    
    display: grid;
    place-items: center;

    font-size: var(--big);
    font-weight: bolder;
    text-align: center;
    color: var(--website-green);
    
    background-color: var(--background);
    border-top: 1.2rem solid var(--border-orange);
    border-bottom: 1.2rem solid var(--border-orange);
}

.console-message {
    padding: .8rem;
}

.action-button {
    width: 15rem;
    height: 5rem;

    font-size: var(--big);
    font-weight: bold;

    border: none;
    background-color: var(--buttons-background);
    border-radius: 1.6rem;
}

.no-visible {
    display: none;
}

@media (min-width: 640px) {

    .messages {
        font-size: var(--big);
        height: auto;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        place-items: center;
    }

    .buttons button {
        width: 10rem;
        height: 10rem;
        margin: 1rem;
    }

    .middle-line{
        font-size: var(--giant);
    }
    .action-button {
        width: 60rem;
        height: 10rem;
        font-size: var(--giant);
    }
}

@media (min-width: 1000px) {
    .game-container {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        padding: 3rem;
    }

    .messages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15rem;
        height: 90%;
    
    }

    .messages div {
        width: 100%;

        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .buttons {
        flex-direction: column;
    }

    .middle-line{
        font-size: var(--big);
    }
    .action-button {
        width: 14rem;
        height: 4rem;
        font-size: var(--big);
    }
}